.userUpdateBtn {
  width: 100%;
  height: 40px;
  border: 3px solid #1178B8;
  background: white;
  color: black !important;
  cursor: pointer;
  border-radius: 5px;
}

.userFinishedBtn {
  width: 100%;
  height: 40px;
  border: 3px solid #1178B8;
  background: #1178B8;
  color: white !important;
  border-radius: 5px;
}

.userCanceledBtn {
  width: 100%;
  height: 40px;
  border: 3x solid #F7D94C;
  background: #F7D94C;
  color: black !important;
  border-radius: 5px;
}